.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333333;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px 35px 20px 35px;
  font-size: 18px;
  line-height: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.wrapperTicket {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticketStatus {
  font-weight: normal;
  font-size: 24px;
}